@import 'tailwindcss';

@theme {
	--font-family-sans: 'Inter', sans-serif;
	--color-*: initial;
	--color-white: #fff;
	--color-black: #000;

	--color-neutral-50: #fafafa;
	--color-neutral-100: #f4f4f5;
	--color-neutral-200: #e4e4e7;
	--color-neutral-300: #dedee1;
	--color-neutral-400: #a1a1aa;
	--color-neutral-500: #71717a;
	--color-neutral-600: #52525b;
	--color-neutral-700: #3f3f46;
	--color-neutral-800: #27272a;
	--color-neutral-900: #18181b;
	--color-neutral-950: #09090b;

	--color-primary-50: #eff4ff;
	--color-primary-100: #dce6fd;
	--color-primary-200: #c0d4fd;
	--color-primary-300: #95bafb;
	--color-primary-400: #6295f8;
	--color-primary-500: #3e6ff3;
	--color-primary-600: #284fe8;
	--color-primary-700: #203bd5;
	--color-primary-800: #2032ad;
	--color-primary-900: #203088;
	--color-primary-950: #182053;

	--color-secondary-50: #f5f3ff;
	--color-secondary-100: #ede9fe;
	--color-secondary-200: #ddd6fe;
	--color-secondary-300: #c4b5fd;
	--color-secondary-400: #a78bfa;
	--color-secondary-500: #8b5cf6;
	--color-secondary-600: #7c3aed;
	--color-secondary-700: #6d28d9;
	--color-secondary-800: #5b21b6;
	--color-secondary-900: #4c1d95;
	--color-secondary-950: #2a1065;

	--color-tetriary-50: #f5f3ff;
	--color-tetriary-100: #ede9fe;
	--color-tetriary-200: #ddd6fe;
	--color-tetriary-300: #c4b5fd;
	--color-tetriary-400: #a78bfa;
	--color-tetriary-500: #8b5cf6;
	--color-tetriary-600: #7c3aed;
	--color-tetriary-700: #6d28d9;
	--color-tetriary-800: #5b21b6;
	--color-tetriary-900: #4c1d95;
	--color-tetriary-950: #2a1065;

	--color-success-50: #ecfdf5;
	--color-success-100: #d1fae5;
	--color-success-200: #a7f3d0;
	--color-success-300: #6ee7b7;
	--color-success-400: #34d399;
	--color-success-500: #10b981;
	--color-success-600: #059669;
	--color-success-700: #0f766e;
	--color-success-800: #065f46;
	--color-success-900: #064e3b;
	--color-success-950: #022c22;

	--color-warning-50: #fffbeb;
	--color-warning-100: #fef3c7;
	--color-warning-200: #fde68a;
	--color-warning-300: #fcd34d;
	--color-warning-400: #fbbf24;
	--color-warning-500: #f59e0b;
	--color-warning-600: #d97706;
	--color-warning-700: #b45309;
	--color-warning-800: #92400e;
	--color-warning-900: #78350f;
	--color-warning-950: #451a03;

	--color-info-50: #f0f9ff;
	--color-info-100: #e0f2fe;
	--color-info-200: #bae6fd;
	--color-info-300: #7dd3fc;
	--color-info-400: #38bdf8;
	--color-info-500: #0ea5e9;
	--color-info-600: #0284c7;
	--color-info-700: #0369a1;
	--color-info-800: #075985;
	--color-info-900: #0c4a6e;
	--color-info-950: #082f49;

	--color-error-50: #fef2f2;
	--color-error-100: #fee2e2;
	--color-error-200: #fecaca;
	--color-error-300: #fca5a5;
	--color-error-400: #f87171;
	--color-error-500: #ef4444;
	--color-error-600: #dc2626;
	--color-error-700: #b91c1c;
	--color-error-800: #991b1b;
	--color-error-900: #7f1d1d;
	--color-error-950: #450a0a;
}

/* Base ----------------------------*/
.fluid-button {
	@apply p-1;
}

.fluid-button.fluid-button-primary {
	@apply bg-primary-600 text-white hover:bg-primary-500;
}

.fluid-input-field {
	@apply outline-1 outline-primary-300 focus:outline-2 focus:outline-primary-500;
}

/* Components ----------------------------*/
.fluid-switch-button {
	@apply relative inline-flex h-5 w-9 shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-neutral-200 transition-colors duration-200 ease-in-out focus:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}
.fluid-switch-circle {
	@apply pointer-events-none inline-block h-4 w-4 translate-x-0 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out checked:translate-x-4;
}
.fluid-switch-button.checked {
	@apply bg-primary-600;
}
.fluid-switch-button.checked .fluid-switch-circle {
	@apply translate-x-4;
}

.fluid-accordion-trigger {
	@apply flex w-full flex-col bg-primary-200 p-1;
}
.fluid-accordion-header {
	@apply p-2;
}
.fluid-accordion-body {
	@apply p-2;
}
